@use "../../scss/" as *;
.task{
    height:120px;
    width:100%;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#eeeeee;
    border-radius: inherit;
    
    &__title{
        flex:1;
        @include flex(center,space-between);

        & > .title{
            margin:10px;
            background-color:#eeeeee;
            color:#000000;
            font-family: "Helvetica Neue",Helvetica,Arial;
            font-size: 25px;
            font-weight: 500;

            & > i{
                color:#fd2727;
                margin-left: 10px;
            }
        }

        & > i{
            margin:10px;
            margin-top: 0px;
            color:#797979;
        }

    }

    &__description{
        flex:1;
        @include flex(center,space-between);
        padding: 0px 0px 0px 10px;
        color:#797979;
        font-family: "Helvetica Neue",Helvetica,Arial;
        font-size: 15px;
        & > label{
            width: 80%;
            margin-left:0px;
            padding: 0px;
            text-align: left ;
        }

        & > .checkWork{
            width: 20%;

            & > input{
                width: 30px;
                height: 30px;
                clip-path: circle(40% at 50% 50%);
                background-color: #fff;
            }
        }
    }

    

    &__date{
        flex:1;
        @include flex(center,space-between);
        padding: 10px;
        color:#797979;
        font-family: "Helvetica Neue",Helvetica,Arial;
        font-size: 15px;
        font-weight: bold;

    }
}

.border__task--gradient{
    background-image: linear-gradient(to bottom,#ec5c5c,#83b3fe,#b5a2f5);

    padding: 13px;
    margin-top: 20px;
    padding: 3px;
    border-radius: 20px;
}