@use "../scss/" as *;

.container{
    width: 98%;
    padding: 10px;
    @include flex(unset,unset);
  
    @include tablet{
      flex-direction: column;
    }
    @include mobile{
      flex-direction: column;
    }
    &__left{
      flex:1;
      height: 100%;
      
      font-family: "Helvetica Neue",Helvetica,Arial;
      
      @include mobile {
        
        width: 100%;
      }
  
      &__addTask{
        flex-grow:5;
        width: 100%;
      }
  
      &__taskToday{
        flex-grow:1;
        width: 100%;
      }
    }
  
    &__right{
      flex:2;
      height: 100%;
    }
  }